<div class="footer">
    <a href="https://web.gencat.cat/" target="_blank" class="logo"></a>
    <div class="links">
      <a href="https://web.gencat.cat/ca/directoris/directori-de-xarxes-socials/">{{ 'directory-social' | translate }}</a> |
      <a href="https://web.gencat.cat/ca/directoris/directori-daplicacions-mobils/">{{ 'directory-app' | translate }}</a> |
      <a href="https://web.gencat.cat/ca/ajuda/avis_legal/">{{ 'legal-advice' | translate }}</a> |
      <a href="https://web.gencat.cat/ca/ajuda/politica-de-galetes/">{{ 'cookie-policy' | translate }}</a> |
      <a href="https://web.gencat.cat/ca/ajuda/sobre_gencat/">{{ 'about-us' | translate }}</a> |
      <a href="https://web.gencat.cat/ca/ajuda/accessibilitat/">{{ 'accessibility' | translate }}</a> |
      <a href="https://web.gencat.cat/ca/ajuda/mapaweb/">{{ 'web-map' | translate }}</a> 
    </div>
  </div>